<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MachineLearning_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MachineLearning_Service.Properties.Settings>
            <setting name="SourceFolderPath" serializeAs="String">
                <value>C:\GEM\local\pcb</value>
            </setting>
            <setting name="DestinationFolderPath" serializeAs="String">
                <value>C:\GEM\machine_learning\training</value>
            </setting>
            <setting name="ArchiveFolderPath" serializeAs="String">
                <value>C:\GEM\machine_learning\processed</value>
            </setting>
            <setting name="ConsoleApp" serializeAs="String">
                <value>C:\Kostal\Machine_Learning_Processing\Oven_AI.exe</value>
            </setting>
        </MachineLearning_Service.Properties.Settings>
    </userSettings>
</configuration>