<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     throwExceptions="false" autoReload="true">
  <targets xsi:type="NLogTargets" async="true">
    <target name="FileTarget" xsi:type="File" fileName="${basedir}/log/logging.log" lineEnding="CRLF"
        archiveAboveSize="1048576" maxArchiveFiles="3" archiveNumbering="Rolling"
        header="${newline}
======================================================================================================================================================
Logging start = ${longdate}
Base dirctory = ${basedir}
Machine name  = ${machinename}
------------------------------------------------------------------------------------------------------------------------------------------------------
Date and Time            | Level | Module                                             | Message
------------------------------------------------------------------------------------------------------------------------------------------------------"
        layout="${longdate} | ${level:uppercase=true:padding=-5} | ${Logger:shortName=true:padding=15} | ${callsite:includeSourcePath=false:className=false:padding=22:fixedLength=true} | ${message} ${exception:format=message}"
        footer="
------------------------------------------------------------------------------------------------------------------------------------------------------
Logging end   = ${longdate}
======================================================================================================================================================"        
        />
  </targets>
  <rules xsi:type="NLogRules">
    <logger name="*" xsi:type="NLogLoggerRule" final="false" minlevel="Trace"  writeTo="FileTarget" ></logger>
  </rules>
</nlog>



